
/* Miscellaneous Tweaks and Overrides
 * --------------------------------------*/
.cpt-colors .addthis_setup_nag {
	display: none;
}

/* Header
 * --------------------------------------*/
#cpt-wrap #cpt-logo {
	vertical-align: middle;
	display: inline-block;
	margin-bottom: 0px;

	width: 82px;
	height: 82px;
}

#cpt-wrap .postbox-container {
	width: 740px;
}

#cpt-wrap .cpt-stripe {
	display: block;
	padding: 5px;
	border-radius: 30px 0px 0px 30px;
	max-width: 730px;
	position: relative;
	margin-top: 10px;
}

#cpt-wrap .cpt-colors {
	border-color: #DFDFDF;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 white;
	box-shadow: inset 0 1px 0 white;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	border: 1px solid rgba(0,0,0,.3);
	background: rgb(235, 241, 243);
}

/* Configuration Settings
 * --------------------------------------*/
#cpt-wrap p { 
	font-size: 16px;
	line-height: 28px;
	font-weight: 200;
}

#cpt-wrap h1 { 
	display: inline-block;
	line-height: 64px;
	font-weight: normal;
	margin: 0px 0px 0px 10px;

	color: #333;
	text-shadow: 1px 1px 0px white;
}

#cpt-wrap h2 {
	display:inline-block;
	min-width:240px;
	vertical-align: middle;

	margin: 0px!important;
	padding: 0px!important;
	line-height: 40px!important;
}

#cpt-wrap hr {
	height:1px;
	background: rgba(0,0,0,.6);;
	border:none;
	border-bottom: 1px solid rgba(255,255,255,.8);
}

#cpt-wrap .side-img {
	vertical-align: middle;
}

#cpt-wrap #cpt-api {
	vertical-align: middle;
	display: inline-block;
	padding-bottom:30px;
}

#cpt-wrap label {
	font-size: 18px;
	line-height: 40px;
	font-weight: 200;
	margin: 0 10px 0 0;
	padding: 0px;
	text-shadow: 0 1px 0 white;
}

#cpt-wrap #cpt-api input[type="text"] {
	font-size: 16px;
	padding: 5px 10px;
	height: 35px;
	width: 350px;
	vertical-align: middle;
	margin-right: 5px;
}

#cpt-wrap select {
	margin-left: 25px;
	width: 350px;
	font-size: 16px;
}

#cpt-wrap #cpt-submit {
	position: absolute;
	bottom: 110px;
	right: 50px;
}



/* Captain Up Buttons
 * -----------------------------*/
.cpt-x-btn {
  padding: 5px;
  background: #c9322b;
  border: 3px solid #2f2f2e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #f08a87 0px 2px 0px 0px inset;
  -moz-box-shadow: #f08a87 0px 2px 0px 0px inset;
  box-shadow: #f08a87 0px 2px 0px 0px inset;
  cursor: pointer;
  font-size: 22px;
  vertical-align: middle;
}

.cpt-x-btn.padded {
  padding: 9px 20px;
}

.cpt-x-btn.red {
  color: #fff;
  font-family: 'Comic Sans', Helvetica, Arial, Sans-Serif;
}

.cpt-x-btn.red:hover {
  background: #f13131;
}

.cpt-x-btn.red:active {
  background: #ad241d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


.cpt-x-btn.normal {
  color: #777;
  background: #F4F4F4;
  -webkit-box-shadow: #fdfdfd 0px 2px 0px 0px inset;
  -moz-box-shadow: #fdfdfd 0px 2px 0px 0px inset;
  box-shadow: #fdfdfd 0px 2px 0px 0px inset;
}

.cpt-btn-success {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #2f2f2e;
  border-bottom: 3px solid #2f2f2f;
  -webkit-box-shadow: 0px 2px 1px #a5ef88 inset;
  -moz-box-shadow: 0px 2px 1px #a5ef88 inset;
  box-shadow: 0px 2px 1px #a5ef88 inset;
  background: #7cd032;
  color: #fff;
  text-shadow: 1px 1px #6fba2d;
}

.cpt-btn-success:hover {
  -webkit-box-shadow: 0px 2px 1px #67ad29 inset;
  -moz-box-shadow: 0px 2px 1px #67ad29 inset;
  box-shadow: 0px 2px 1px #67ad29 inset;
  background: #78c930;
  color: #fff;
}

.cpt-btn-success:active {
  background: #75c42f;
  -webkit-box-shadow: 0px 3px 3px #67ad29 inset;
  -moz-box-shadow: 0px 3px 3px #67ad29 inset;
  box-shadow: 0px 3px 3px #67ad29 inset;
  color: #fff;
}

/* Footer
 * ----------------------------*/
#cpt-footer {
	font-size: 14px;
}

#cpt-footer a {
	text-decoration: none;
}